<h1>Bitcoin Web API</h1>

<br/>Total amount of pending orders processed: <%= @count_pending %>
<br/>Orders finished: <%= @count_finished  %>
<br/>Orders unfinished: <%= @count_unfinished  %>
<br/>Orders rejected: <%= @count_canceled  %>